In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("static_coverage.csv")
df.head()

,baseFare,reservationCharge,superfastCharge,fuelAmount,totalConcession,tatkalFare,serviceTax,otherCharge,cateringCharge,dynamicFare,totalFare,availability,trainNumber,timeStamp,fromStnCode,toStnCode,classCode
0,1059,60,0,0.0,0,0,56.0,0,0,0,1175,"[{'date': '2-12-2023', 'status': 'AVAILABLE-00...",11464,2023-10-03 22:13:07.781307,JBP,SRID,1A
1,626,50,0,0.0,0,0,34.0,0,0,0,710,"[{'date': '2-12-2023', 'status': 'AVAILABLE-00...",11464,2023-10-03 22:13:07.781307,JBP,SRID,2A
2,441,40,0,0.0,0,0,24.0,0,0,0,505,"[{'date': '2-12-2023', 'status': 'AVAILABLE-01...",11464,2023-10-03 22:13:07.781307,JBP,SRID,3A
3,125,20,0,0.0,0,0,0.0,0,0,0,145,"[{'date': '2-12-2023', 'status': 'AVAILABLE-00...",11464,2023-10-03 22:13:07.781307,JBP,SRID,SL
4,1059,60,0,0.0,0,0,56.0,0,0,0,1175,"[{'date': '2-12-2023', 'status': 'AVAILABLE-00...",11464,2023-10-03 22:13:07.781307,JBP,KKB,1A

In [4]:
print(df["availability"].info())

<class 'pandas.core.series.Series'>
RangeIndex: 296055 entries, 0 to 296054
Series name: availability
Non-Null Count   Dtype
--------------   -----
296055 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
None

In [8]:
print(df["availability"][0])

[{'date': '2-12-2023', 'status': 'AVAILABLE-0008'}, {'date': '3-12-2023', 'status': 'AVAILABLE-0014'}, {'date': '5-12-2023', 'status': 'AVAILABLE-0011'}, {'date': '6-12-2023', 'status': 'AVAILABLE-0004'}, {'date': '7-12-2023', 'status': 'AVAILABLE-0014'}, {'date': '9-12-2023', 'status': 'AVAILABLE-0012'}]

In [9]:
import ast

df['availability'] = df['availability'].apply(ast.literal_eval)

In [ ]:
print(df["availability"][0][0])

{'date': '2-12-2023', 'status': 'AVAILABLE-0008'}

In [11]:
df['availability_length'] = df['availability'].apply(len)
print(df['availability_length'].unique())

[6 4 5 3]

In [12]:
print(df['availability_length'].value_counts())

availability_length
6    288287
4      3777
5      3504
3       487
Name: count, dtype: int64

In [16]:
print (type(df["availability"][0][0]))

<class 'dict'>

In [18]:
print(type(df["availability"][0][0]['date']))

<class 'str'>

In [20]:
df['available_count'] = df['availability'].apply(lambda lst: sum(1 for entry in lst if entry['status'][:5] == "AVAIL"))
print(df['available_count'].value_counts())

available_count
0    151633
6     49486
1     25644
2     18888
3     17243
4     16738
5     16423
Name: count, dtype: int64

In [26]:
df['available_count6'] = df['availability'].apply(lambda lst: sum(1 for entry in lst if (entry['status'][:5] == "AVAIL" and len(lst)==6 and lst[0]['status'][:5]=="AVAIL")))
print(df['available_count6'].value_counts())

available_count6
0    221123
6     49486
5     10927
4      6580
3      3453
2      3089
1      1397
Name: count, dtype: int64

In [22]:
df['available_count5'] = df['availability'].apply(lambda lst: sum(1 for entry in lst if (entry['status'][:5] == "AVAIL" and len(lst)==5)))
print(df['available_count5'].value_counts())

available_count5
0    292965
3      1010
4       710
1       585
5       533
2       252
Name: count, dtype: int64

In [ ]:
df = df[df['availability'].apply(len) == 6]

In [29]:
print(df.shape)

(288287, 21)

In [32]:
print(df['trainNumber'].value_counts())

trainNumber
11058    10458
11057     9225
13019     5310
13020     5131
16526     4496
         ...
12337       12
22549        6
22550        6
12275        2
12276        2
Name: count, Length: 427, dtype: int64

In [47]:
df = df.copy()

df['date1']=df['availability'].apply(lambda x: x[0]['date'])
df['date2']=df['availability'].apply(lambda x: x[1]['date'])
df['date3']=df['availability'].apply(lambda x: x[2]['date'])
df['date4']=df['availability'].apply(lambda x: x[3]['date'])
df['date5']=df['availability'].apply(lambda x: x[4]['date'])
df['date6']=df['availability'].apply(lambda x: x[5]['date'])
print(df['date1'], df['date2'], df['date3'], df['date4'], df['date5'], df['date6'])

0         2-12-2023
1         2-12-2023
2         2-12-2023
3         2-12-2023
4         2-12-2023
            ...
296050    6-11-2023
296051    6-11-2023
296052    6-11-2023
296053    6-11-2023
296054    6-11-2023
Name: date1, Length: 288287, dtype: object 0          3-12-2023
1          3-12-2023
2          3-12-2023
3          3-12-2023
4          3-12-2023
             ...
296050    13-11-2023
296051    13-11-2023
296052    13-11-2023
296053    13-11-2023
296054    13-11-2023
Name: date2, Length: 288287, dtype: object 0          5-12-2023
1          5-12-2023
2          5-12-2023
3          5-12-2023
4          5-12-2023
             ...
296050    20-11-2023
296051    20-11-2023
296052    20-11-2023
296053    20-11-2023
296054    20-11-2023
Name: date3, Length: 288287, dtype: object 0          6-12-2023
1          6-12-2023
2          6-12-2023
3          6-12-2023
4          6-12-2023
             ...
296050    27-11-2023
296051    27-11-2023
296052    27-11-2023
296053    27-11-2023
296054    27-11-2023
Name: date4, Length: 288287, dtype: object 0         7-12-2023
1         7-12-2023
2         7-12-2023
3         7-12-2023
4         7-12-2023
            ...
296050    4-12-2023
296051    4-12-2023
296052    4-12-2023
296053    4-12-2023
296054    4-12-2023
Name: date5, Length: 288287, dtype: object 0          9-12-2023
1          9-12-2023
2          9-12-2023
3          9-12-2023
4          9-12-2023
             ...
296050    11-12-2023
296051    11-12-2023
296052    11-12-2023
296053    11-12-2023
296054    11-12-2023
Name: date6, Length: 288287, dtype: object

In [48]:
from datetime import datetime
df['date1']= df['date1'].apply(lambda x: datetime.strptime(x, "%d-%m-%Y").date())
df['date2']= df['date2'].apply(lambda x: datetime.strptime(x, "%d-%m-%Y").date())
df['date3']= df['date3'].apply(lambda x: datetime.strptime(x, "%d-%m-%Y").date())
df['date4']= df['date4'].apply(lambda x: datetime.strptime(x, "%d-%m-%Y").date())
df['date5']= df['date5'].apply(lambda x: datetime.strptime(x, "%d-%m-%Y").date())
df['date6']= df['date6'].apply(lambda x: datetime.strptime(x, "%d-%m-%Y").date())

In [68]:
df['checkIncr']= df.apply( lambda x: 1 if (x['date1']<x['date2']<x['date3']<x['date4']<x['date5']<x['date6']) else 0, axis=1)

In [69]:
print(df['checkIncr'].value_counts())

checkIncr
1    288287
Name: count, dtype: int64