In [1]:
import pandas as pd

In [7]:
df= pd.read_csv("../CRIS_data/train_demand/demand_22222.csv")
df.head()

,'booking_date','journey_date','trnno','brdpt_code','resupto_code','cls','PSGN'
0,2023-04-06,2023-08-01,'22222','AGC ','KYN ','3A ',6
1,2023-04-14,2023-08-01,'22222','NZM ','NK ','3A ',1
2,2023-05-02,2023-08-01,'22222','NZM ','CSMT','1A ',4
3,2023-05-03,2023-08-01,'22222','NZM ','NK ','2A ',2
4,2023-05-14,2023-08-01,'22222','NZM ','NK ','3A ',1

In [9]:
df.shape

(384534, 7)

In [14]:
(df["'brdpt_code'"].unique())

array(["'AGC '", "'NZM '", "'VGLJ'", "'GWL '", "'JL  '", "'BPL '",
       "'NK  '", "'KYN '", "'BSL '"], dtype=object)

In [15]:
df["'resupto_code'"].unique()

array(["'KYN '", "'NK  '", "'CSMT'", "'VGLJ'", "'JL  '", "'BPL '",
       "'GWL '", "'AGC '", "'BSL '"], dtype=object)

In [18]:
df["'journey_date'"].value_counts()

'journey_date'
2024-11-03    763
2024-08-19    739
2024-12-14    733
2025-01-04    721
2025-03-16    714
             ...
2023-10-10    354
2023-10-18    351
2023-09-21    347
2024-10-31    256
2023-11-12    251
Name: count, Length: 731, dtype: int64

In [20]:
df["'PSGN'"].describe()

count    384534.000000
mean          3.087672
std           4.497931
min           1.000000
25%           1.000000
50%           2.000000
75%           3.000000
max         209.000000
Name: 'PSGN', dtype: float64